@media only screen and (max-width: 690px) {
    header .nav_bar .lists {
        display: none;
    }

    header .nav_bar .logo {
        text-align: center;
    }

    header .nav_bar .grip_line {
        display: flex;
    }

    header .nav_bar .lists_mobile {
        display: block;
        position: absolute;
        top: 51.97px;
        right: 0px;
        background-color: rgba(0, 0, 0, .5);
        color: #fff;
        border-radius: 10px;
        padding: 15px;
        font-size: 1.2em;
        opacity: 0;
        transition: all 200ms;
    }


    header .nav_bar .grip_line:hover .lists_mobile {
        top: 70px;
        right: 10px;
        opacity: 1;
    }

    .gallery_cont {
        padding: 10px;
    }
}


@media only screen and (max-width: 500px) {

    .bg_cover .desktop{
        display: none;
    }

    .bg_cover {
        width: 100%;
        background-color: rgb(0, 0, 0, .5);
        position: absolute;
        z-index: 50;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bg_cover .mobile {
        display: block;
        width: 400px;
    }
}